{
  "extends": ["unobtrusive", "unobtrusive/import", "unobtrusive/react"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "globals": {
    "Cypress": true,
    "cy": true
  }
}
